$color1:#F98AB3;
$color2: #333333;
$color3: #F53D81;
$color4: white;
$fuente: "Sacramento";
$fuente2: "Amatic SC";

header {background-color: $color4;
    margin-top: 0px;
    top: 30px;}
    
body {background-color: $color1;}
    
    
.titulo-inicio{   
    font-family: $fuente;
    font-size: 90px;
    text-align: center;
    margin-top: 0px;
    font-weight: 500}
    
.imagenes-menu {
    display: flex;     
    flex-wrap: wrap;         
    justify-content: center;     
    align-items: center;         
    text-align: center;
    margin-top: 20px;}
    
.imagenes-menu a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $fuente2;
    font-size: 60px;
    font-weight: bold;
    position: relative;}

.imagen-elemento {
    width: auto;
    max-width: 450px;
    height:auto;
    margin-left: 8px;
    box-shadow: 5px 8px 12px $color3;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out; opacity: 0.3s ease-in-out;
    }

.imagenes-menu a:hover .imagen-elemento {
    transform: scale(1.1);
    opacity: 0.6; 
        }
        
        
.menu-inicio1, .menu-inicio2, .menu-inicio3, .menu-inicio4 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color1;
    color: white;
    padding: 10px; }
    

.imagenes-menu a:hover .menu-inicio1 {
    display: flex;}
.imagenes-menu a:hover .menu-inicio2 {
    display: flex;
        }
.imagenes-menu a:hover .menu-inicio3 {
    display: flex;
        }
.imagenes-menu a:hover .menu-inicio4 {
    display: flex;
        }
    
    
.parte-inferior {
    display: block;
    justify-content: space-between;
    }
    
.redes {
    display: flex;
    font-size: 40px;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    }


    .iconos-redes {
        height: 45px;
        justify-content: end;
        text-decoration: none;
    }

    .p-redes {
        height: 50px;
        color: #333333;
        font-family: "Amatic SC";
        font-weight: bold;
        margin-right: 40px;
        margin-top: 90px;
    }
    
    .medios-de-pago {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        color: #333333;
        gap: 10px; 
        font-family: "Amatic SC";
        font-size: 40px;
        font-weight: bold;
    }
    
    .sitio{ 
        font-family: "Amatic SC";
        font-size: 40px;
        text-decoration: none;
        font-weight: bold;
    }
    
    
a {color: $color2;}
    
    
    
form{
    display: flex;
    flex-direction: column;
    font-family: $fuente;
    font-size: 25px;
    max-width: 20%;
    margin-left: 20px;
    font-weight: bolder;
    border: none;
    color: $color2;

    fieldset { 
        border: none;
        }

        input[type="submit"] {
            margin-top: 20px; 
            margin-left:90%; }
        }

        form input, form textarea {
            padding: 10px;
            margin-bottom: 20px; 
            font-size: 16px;
            border-radius: 5px;
            width: 100%;  
        }
        
        .newsletter h2{
            color: $color2;
            text-align: center;
            margin: 0;
            padding: 0;}
        
        
        .newsletter-form {
            display: flex;                   
            justify-content: center;         
            align-items: center;             
            gap: 10px;                        
            width: 80%; 
            margin-top: 0px; 
            margin: 10px auto;
            padding: 0; }
        
        .newsletter-form input {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 90%;                     
            outline: none;
        }

.subtitulo { 
    text-align: center;
    font-family: $fuente2;
    font-size: 70px;
    font-weight: bold;
    color: $color2;
    }
    
.navbar {
    ul {
        display: flex;     
        background-color: $color3;      
        list-style-type: none;   
        padding: 0;              
        margin: 0;  
        justify-content: space-evenly;
        width: 100%;
        li {
            margin-right: 20px;
            a {
                text-decoration: none;   
                color: $color2;            
                font-size: 30px;
                font-family: $fuente2;      
                padding: 10px;
            }
        }
    }
}


.contenedor-accesorios img {
    width: 85%; 
    height: 97%; 
    object-fit: cover; 
    object-position: center;
    margin-top: 5px;
    box-shadow: 5px 8px 12px $color3;
    border-radius: 5px;
}

.contenedor-perfumes img {
    width: 85%;
    height: 97%;
    object-fit: cover;
    object-position: center;
    margin-top: 5px;
    box-shadow: 5px 8px 12px $color3;
    border-radius: 5px;
}

.contenedor-skincare img {
    width: 85%;
    height: 97%;
    object-fit: cover;
    object-position: center;
    margin-top: 5px;
    box-shadow: 5px 8px 12px $color3;
    border-radius: 5px;
}

.contenedor-maquillaje img {
    width: 85%;
    height: 97%;
    object-fit: cover;
    object-position: center;
    margin-top: 5px;
    box-shadow: 5px 8px 12px $color3;
    border-radius: 5px;
}

.custom-img {
    width: 90%;
    height: 97%;
    object-fit: cover;}
    
    
    
.footer {
    font-family: $fuente2;
    color: $color2;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    }
    
@media only screen and (min-width: 480px) and (max-width: 1150px) {
        .imagenes-menu a {
        width: 90%;
        text-decoration: none;
        height: auto;
        flex-direction: column;
    }
        .menu-inicio1, .menu-inicio2, .menu-inicio3, .menu-inicio4 {
        display: flex;
        position: static; 
        transform: none; 
        color: $color2;
        font-size: 40px; 
        padding: 10px;
    }
    form {
        max-width: 95%;
        height: auto;
        margin-top: 100px;
        }
    
    fieldset { 
        height: auto;
        }
    
    input[type="text"],
    input[type="email"],
    textarea {
        display: block;
        width: 100%; 
        padding: 10px;
        }
        .redes {
        max-width: 50%;
        margin-left: 50px;
        }
        .p-redes {
            font-size: 40px;
            margin-left: 20px;
        }
        .sitio {
            font-size: 30px;
        }
    }
    @media only screen and (min-width: 1366px) {
        .imagenes-menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;  
        justify-items: center;  
        }
    
        .imagen-elemento {
        max-width: 100%; 
        height: auto;
        }
    }
@media only screen and (min-width: 1250px) {
    .parte-inferior {
        display: flex;
        }
        
    form {
        display: flex;
        font-size: 30px;
        width: 700px;
        height: 500px;
        margin-top: 100px;
        justify-content: center;
        align-content: center;
        }
    }